.container.home
  .text
    %h1 SOAT by Monokera

    =link_to 'https://www.suraenlinea.com/soat/sura/tarifas', target: 'blank', style: 'color: black;' do
      %h2 Tarifas SOAT 2021

    %h2 Conoce nuestras Coberturas

    .buttons
      .div
        = link_to 'Ingresar como administrador', login_admin_index_path

      .div.buy_soat
        = link_to new_soat_path do
          %button.btn Comprar SOAT
