.container.home
  .text
    %h1 SOAT by Monokera

    %h2 Consulta tarifas
    %h2 Consulta Coberturas

    .buttons
      .div
        = link_to 'Ingresar como administrador', login_admin_index_path

      .div.buy_soat
        = link_to new_soat_path do
          %button.btn Comprar SOAT
